/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*background-color: #111; !* Black *!*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /*padding-top: 20px;*/

}

/* The navigation menu links */
.sidenav h1 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
}

.sidenav h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;

  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
}

.sidenav a {
  text-decoration: none;
  color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.active {
  font-weight: bold !important;
  color: red !important;
  font-size: 1.2rem !important;
}

.vert-center {
  margin-top: 50vh;
  /*margin-bottom: 50%;*/
  /*!*margin: 50%;*!*/
  position: absolute;
  //top: 50%;
  //-ms-transform: translateY(50%);
  transform: translateY(-50%);
}

main {
   /* Same as the width of the sidebar */
  /*padding: 20px;*/
  //width: 75vw;
}

p {
  margin: 0;
}

.section {
  /*margin: 100px;*/
  margin-left: 25vw;
  //height: 100vh;
  height: auto;
  width: 75vw;
  scroll-snap-align: start;
  overflow: hidden;
  overscroll-behavior: auto;
}
