<div class="sidenav" [ngStyle]="{'opacity': titleFade}">
  <div class="container vert-center">
    <!--    <h1> KEVIN GU </h1>-->
    <h2>
      <a href="#about" (click)="print()" [ngClass]="{'active': currentActive === 2}"> about </a>
    </h2>
    <h2>
      <a href="#engineer" (click)="print()" [ngClass]="{'active': currentActive === 3}"> engineer </a>
    </h2>
    <h2>
      <a href="#interests" (click)="print()" [ngClass]="{'active': currentActive === 4}">interests </a>
    </h2>
    <h2>
      <a href="#portfolio" (click)="print()" [ngClass]="{'active': currentActive === 5}">portfolio</a>
    </h2>
    <h2>
      <a href="#gallery" (click)="print()" [ngClass]="{'active': currentActive === 6}">gallery</a>
    </h2>
  </div>
</div>

<main class="app">
  <div class="bg-gradient" [ngStyle]="{'opacity': 1-titleFade}">
    <!--    <div id="stars"></div>-->
    <div #home id="first" class="home section">

      <div style="height: 100vh" >
        <div class="" style="position: absolute; right: 300px; bottom: 25vh">
          <h1>kevin gu</h1>
        </div>

        <div class="typewriter" style="position: absolute; right: 125px; bottom: 20vh">
          <h2>  student | athlete | computer scientist | engineer</h2>
        </div>

        <!--        <img class="portrait" src="assets/portrait.png"-->
        <!--             style="height: 90vh; width: auto; position: absolute; bottom: 0; right: 0; margin-right: 5vw;"-->
        <!--             alt="headshot of a strapping young man">-->


      </div>
    </div>

  </div>

  <div #about id="about" class="about section horiz-scroll">
    <!--    about. | offset: {{ aboutOffset }}<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>-->
    <!--    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>-->
    <!--    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.-->
    <div style="height: 100vh">
      <div class="vert-center">
        <h1>who's kevin?</h1>
        <h2>by now, you probably already know a kevin. most likely a few.</h2>
      </div>
    </div>

  </div>

  <div #eng id="engineer" class="engineer section">
    <p>
      engineer. | offset: {{ engOffset }}<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.
    </p>
  </div>
  <div #int id="interests" class="interests section">
    <p>
      interests. | offset: {{ intOffset }}<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.
    </p>
  </div>
  <div #port id="portfolio" class="portfolio section">
    <p>
      portfolio. | offset: {{ portOffset }}<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.
    </p>
  </div>
  <div #gall id="gallery" class="gallery section">
    <p>
      gallery. | offset: {{ gallOffset }}<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
      .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.
    </p>
  </div>
</main>
